.pie{
    background-color: #ce8df5;
    height: 30vh;
    display: flex;
    place-content: center;
}

#contacto-b {
    display: inline-flex;
    justify-content: center;
}

.logo-w {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 7px;
}

.logo-i {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 7px;
}

.logo-f {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 7px;
}

.mapa {
    margin-right: 10px;
    margin-top: 10px;
}