/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import "_variables.scss";
@import "_header.scss";
@import "_section.scss";
@import "_footer.scss";


/* media query */
@media only screen and (max-width: 480px){
    .s {
        font-size: x-small;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}



/* Formulario */

.formulario {
    margin: 10px;
}

.tdd {
    margin: 10px;
}

.mb-3 {
    margin-top: 10px;
}
