/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* Header */

.navegacion:hover {
    background-color: #3c1e4e;
}

.navbar-custom {
    background-color: #ce8df5; 
}

.photo {
    height: 50px;
    width: 90px;
}

/* Fin Header */

/* Carousel */
/* Fin Carousel */

/* GRID */

/* Section muestra y descripcion del producto */
.s {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom: 15px;
    margin-top: 15px;
    gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.tit_pro1 {
    font-size: 2em;
}

.ho_img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 32.7%;
    height: 44.1%;
    background: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
}

.ho_img1:hover {
    opacity: 1;
}

.foto-1 {
    width: 100%;
    height: 90%;
    position: relative;
    display: block;
}



.foto-2 {
    width: 100%;
    height: 90%;
    position: relative;
}

.foto-3 {
    width: 100%;
    height: 90%;
    position: relative;
}

.foto-4 {
    width: 100%;
    height: 90%;
    position: relative;
}

.foto-5 {
    width: 100%;
    height: 90%;
    position: relative;
}

.foto-6 {
    width: 100%;
    height: 90%;
    position: relative;
}

/* Fin section muestra y descripcion del producto */

/* Formulario */

.formulario {
    margin: 10px;
}

.tdd {
    margin: 10px;
}

.mb-3 {
    margin-top: 10px;
}
/* Fin Formulario */

/* Fin GRID */

/* Footer */
.pie{
    background-color: #ce8df5;
    height: 30vh;
    display: flex;
    place-content: center space-between;
}

#contacto-b {
    display: inline-flex;
}

.logo-w {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 7px;
}

.logo-i {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 7px;
}

.logo-f {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 7px;
}

.mapa {
    margin-right: 10px;
    margin-top: 10px;
}

/* Fin Footer */





